@page "/hero/{heroName}"
@using SuperheroStats.Services
@using SuperheroStats.Data
@using System.Text.Json
@using System.Reflection
@using System.Globalization



@*@if (hero == null)
	{
	<h1>Loading Data...</h1>
	}*@
<div class="container">
	<div class="row">
		@*Left column with Character picture and name*@
		<div class="col-lg-3">
			<div class="row-fluid" id="hero-avatar-container">
				@*Image by default is displayed as inline-block, 
				you need to display it as block in order to center it with .mx-auto. 
				This can be done with built-in .d-block*@
				<img src="@hero.images.lg" class="shadow-lg mb-3 mx-auto d-block" id="hero-avatar" alt="@hero.name"/>
				<div class="row text-center">
					<h1 class="fw-bold" id="hero-name">@hero.name</h1>
					<h2>@hero.biography.fullName</h2>
				</div>
			</div>
		</div>
		@*Middle columns Contains the cards with stats and info*@
		<div class="col-lg-7">
			@*Card to show power statistics *@
			<div class="card shadow mb-5">
				<div class="card-header">
					<h3 class="fw-bold">Power Stats</h3>
				</div>
				<div class="card-body">
					<table class="table table-borderless">
						<tbody>
						@*	Iterating through the properties of the Hero Powerstats object
							https://www.codegrepper.com/code-examples/csharp/c%23+iterate+over+object+properties
							Displaying the powerstat name*@
						@foreach (PropertyInfo prop in hero.powerstats.GetType().GetProperties())
						{
							var propValue = (int) (prop.GetValue(hero.powerstats, null) ?? 0);
							var propName = ti.ToTitleCase(prop.Name);
							@*Change the color of the progress bar depending on the value of the powerstat*@
							var progressColor = "";
							if (propValue <= 25)
								progressColor = "bg-danger";
							else if (propValue <= 50)
								progressColor = "bg-warning";
							else if (propValue <= 75)
								progressColor = "bg-info";
							else
								progressColor = "bg-primary";
							<tr>
								<th scope="row" class="powerstat-name">@propName</th>
								<td class="powerstat-value text-end">@propValue</td>
								<td class="powerstat-value h5 w-50">
									<div class="progress powerstat-progress mb-2">
										<div class="progress-bar @progressColor" role="progressbar" style="width: @propValue%" aria-valuenow="@propValue" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="card shadow mb-5">
				<h3 class="card-header fw-bold">Appearance</h3>
				<div class="card-body">
					<table class="table table-hover">
						<tbody>
						<tr>
							<th class="powerstat-name">Gender</th>
							<td class="powerstat-value h5">@hero.appearance.gender</td>
						</tr>
						<tr>
							<th scope="row" class="powerstat-name">Race</th>
							<td>@hero.appearance.race</td>
						</tr>
						<tr>
							<th scope="row" class="powerstat-name">Height</th>
							<td colspan="2">@String.Join(", ", @hero.appearance.height)</td>
						</tr>
						<tr>
							<th scope="row" class="powerstat-name">Weight</th>
							<td colspan="2">@String.Join(", ", @hero.appearance.weight)</td>
						</tr>
						<tr>
							<th scope="row" class="powerstat-name">Eye Color</th>
							<td>@hero.appearance.eyeColor</td>
						</tr>
						<tr>
							<th scope="row" class="powerstat-name">Hair Color</th>
							<td>@hero.appearance.hairColor</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>

			@*Card template*@
			<div class="card shadow mb-5">
				<h3 class="card-header fw-bold">Appearance</h3>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
			</div>
		</div>
		@*Right Column that contains Contains misc info*@
		<div class="col-lg-2">
			
		</div>

	</div>
</div>



@code {
	[Parameter]
	public string heroName { get; set; }

	[Inject]
	public IHeroService HeroService { get; set; }

	static readonly string jsonData = System.IO.File.ReadAllText("wwwroot/sample-data/hero-sample.json");

	private Hero hero { get; set; } = JsonSerializer.Deserialize<Hero>(jsonData);


	readonly TextInfo ti = CultureInfo.CurrentCulture.TextInfo;

	//protected override async Task OnInitializedAsync() => await GetHeroDetails(heroName);


	private async Task GetHeroDetails(string heroName)
	{
		hero = (await HeroService.GetHero(heroName));
	}

}
